# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
.ENV/

# VSCode
.vscode/

# Logs
*.log

# Data files
*.skeleton
*.csv
*.txt
*.xlsx
*.7z

# Git LFS objects
*.lfs
*.zip
*.gif
*.html

# Torch geometric temporary/compiled files
torch_geometric/data/.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Tensorboard logs
runs/
wandb/

analysis/
models/
data/